kadai_005

In [ ]:
# 台形の寸法（cm）
top = 10
bottom = 20
height = 5

# 面積の計算
area = (top + bottom) * height / 2

# 結果の出力（単位cm²）
print(f"{area}cm²")

75.0cm²

Kadai List

In [ ]:
# リスト（array）
array = [
    "月曜日は晴れです",
    "火曜日は雨です",
    "水曜日は晴れです",
    "木曜日は晴れです",
    "金曜日は曇りです",
    "土曜日は曇りのち雨です",
    "日曜日は雷雨です"
]

# ディクショナリ（dictionary）
dictionary = {
    "mon": "晴れ",
    "tue": "雨",
    "wed": "晴れ",
    "thu": "晴れ",
    "fri": "曇り",
    "sat": "曇りのち雨",
    "sun": "雷雨"
}

# 水曜日の天気（リストから）
print(array[2])

# 水曜日の天気（ディクショナリから）
print(dictionary["wed"])

水曜日は晴れです
晴れ

繰り返し

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Break

In [ ]:
for i in range(1, 11):
  print (i)
  #変数の値が５ならbreak文で強制終了する
  if i ==5:
    break

1
2
3
4
5

ランダムな数字の文

In [ ]:
#ランダムな整数を利用
import random
for i in range(1, 11):
  #変数numに１−２０までの整数を入れる
  num = random.randint(1,20)
  print(f"{i}回目の結果は{num}です。")
  #numの値が20なら強制終了する
  if num ==20:
    print("20が出たので繰り返し処理を強制終了します。")
    break

1回目の結果は17です。
2回目の結果は17です。
3回目の結果は20です。
20が出たので繰り返し処理を強制終了します。

Continue

In [ ]:
for i in range(1, 11):
  # ループ変数iの値が奇数（2で割った余りが1）の時に、値を出力せずcontinue文で次のループに進む
  if i % 2 == 1:
    continue

    print (i)

In [ ]:
#ランダムな整数を利用するため、記述が必要です。
import random

# 変数numに0~4までのランダムな整数を代入する
num = random.randint(0, 4)

# 変数numの値が0以外である間、変数numの値を出力し続ける
while num != 0:
  num = random.randint(0, 4)
  print(num)

3
3
4
0

課題（For繰り返し処理）

In [ ]:
# For文ループで9行表示
array = ["水","金","地","火","木","土","天","海","冥"]
for planet in array:
    print(planet)

水
金
地
火
木
土
天
海
冥

課題（While繰り返し処理）

In [ ]:
# whileループで9行表示
array = ["水","金","地","火","木","土","天","海","冥"]

i = 0
while i < len(array):
    print(array[i])
    i += 1

水
金
地
火
木
土
天
海
冥

関数の呼び出し方

In [ ]:
# 朝のあいさつを出力する関数を作成する
def say_good_morning():
    print("おはようございます！")
    print("昨日はよく眠れましたか？")
    print("今日も一日頑張りましょう！")

# 夜のあいさつを出力する関数を作成する
def say_good_evening():
    print("こんばんは！")
    print("今日も一日お疲れさまでした。")

# 朝のあいさつを出力する関数を呼び出す
say_good_morning()

# 夜のあいさつを出力する関数を呼び出す
say_good_evening()

おはようございます！
昨日はよく眠れましたか？
今日も一日頑張りましょう！
こんばんは！
今日も一日お疲れさまでした。

課題　価格

In [2]:
# 与えられた引数$priceに送料を加算し、その値を出力する関数を定義する
def calculate_total(price):
    # 与えられた引数priceに送料を加算し、変数totalに代入する
    total = price + 500

    # 変数totalの値を出力する
    print(f"{total}円")

# 関数を呼び出し、引数として購入金額を渡す
calculate_total(1200)

1700円

kadai_013

kadai_013_option

In [17]:
# 引数$priceに送料を加算し、その値を出力する関数を定義する
def calculate_total(price):
    # 与えられた引数priceに消費税１０％を加算し、変数totalに代入して、整数にする
    total = price * 1.1
    return int(total)

    # 変数totalの値を出力する
    print(f"{total}円")

# 関数を呼び出し、引数として購入金額を渡す
calculate_total(110)

121

kadai_013_submit

In [18]:
def calculate_total(price, tax_percent):
    # 消費税の割合を計算（10% → 0.1）
    tax_rate = tax_percent / 100

    # 消費税を加えた合計金額を求める
    total = price * (1 + tax_rate)
    return int(total)

    # 結果を戻り値として返す
    return total

# 関数を呼び出し、結果を出力する（課題の指定：110 と 10）
result = calculate_total(110, 10)
print(result)

121

侍太郎のエラーバージョン

In [8]:
＃侍太郎のエラーバージョン
def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

# ローカルスコープの範囲外でローカル変数を使う（エラーが発生する）
print(user_name)

SyntaxError: invalid character '＃' (U+FF03) (ipython-input-2454572221.py, line 1)

侍太郎の正解バージョン

In [7]:
def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"
    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

侍太郎

In [9]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

侍太郎
侍花子

In [10]:
# グローバル変数を定義する
user_name = "侍花子"

def show_user_name():
    # ローカル変数を定義する
    user_name = "侍太郎"
    # user_name = "侍太郎"

    # ローカルスコープの範囲内でローカル変数を使う
    # グローバルスコープの範囲外でグローバル変数を使う（エラーが発生しない）
    print(user_name)

show_user_name()

# グローバルスコープの範囲内でグローバル変数を使う
print(user_name)

侍太郎
侍花子

kadai_014

In [11]:
price1 = 100
price2 = 200

def total():
    tax = 1.1
    return price1 + price2

print (total() * tax)

NameError: name 'tax' is not defined

kadai_014_1

In [15]:
price1 = 100
price2 = 200
tax = 1.1

def total():
    return price1 + price2

print(round(total() * tax))

330

kadai_014_2

In [16]:
def total(price1, price2, tax=1.1):
    return (price1 + price2) * tax

print(round(total(100, 200)))

330